@font-face {
  font-family: ClancyMono;
  src: url(./Web.ttf);
}

body {
  font-family: ClancyMono, sans-serif;
}
h1 {
    text-align: center;
    font-weight: normal;
}
h2 {
    text-align: center;
    font-weight: normal;
}
div {
  margin:auto;
}
#intro {
  width: 750px;
  font-size: 85%;
}
#divgrad {
background-image: linear-gradient(to right, #ff1e64, #0a042d);
}
a {
  color: black;
}
.dotff1e64 {
  height: 40px;
  width: 40px;
  background-color: #ff1e64;
  border-radius: 50%;
  display: inline-block;
}
.dot0a042d {
  height: 40px;
  width: 40px;
  background-color: #0a042d;
  border-radius: 50%;
  display: inline-block;
}
.dotc72347 {
  height: 40px;
  width: 40px;
  background-color: #c72347;
  border-radius: 50%;
  display: inline-block;
}
.dot067926 {
  height: 40px;
  width: 40px;
  background-color: #067926;
  border-radius: 50%;
  display: inline-block;
}
.dot61066c {
  height: 40px;
  width: 40px;
  background-color: #61066c;
  border-radius: 50%;
  display: inline-block;
}
.dotd46530 {
  height: 40px;
  width: 40px;
  background-color: #d46530;
  border-radius: 50%;
  display: inline-block;
}
.dotb5c55b {
  height: 40px;
  width: 40px;
  background-color: #b5c55b;
  border-radius: 50%;
  display: inline-block;
}
.dot910823 {
  height: 40px;
  width: 40px;
  background-color: #910823;
  border-radius: 50%;
  display: inline-block;
}
.dot662909 {
  height: 40px;
  width: 40px;
  background-color: #662909;
  border-radius: 50%;
  display: inline-block;
}
.dot7cc6e3 {
  height: 40px;
  width: 40px;
  background-color: #7cc6e3;
  border-radius: 50%;
  display: inline-block;
}
.dot5c4f13 {
  height: 40px;
  width: 40px;
  background-color: #5c4f13;
  border-radius: 50%;
  display: inline-block;
}
.dot7967cb {
  height: 40px;
  width: 40px;
  background-color: #7967cb;
  border-radius: 50%;
  display: inline-block;
}
.dot013432 {
  height: 40px;
  width: 40px;
  background-color: #013432;
  border-radius: 50%;
  display: inline-block;
}
.dot1f4d46 {
  height: 40px;
  width: 40px;
  background-color: #1f4d46;
  border-radius: 50%;
  display: inline-block;
}
.dot09906c {
  height: 40px;
  width: 40px;
  background-color: #09906c;
  border-radius: 50%;
  display: inline-block;
}
.dot7b7508 {
  height: 40px;
  width: 40px;
  background-color: #7b7508;
  border-radius: 50%;
  display: inline-block;
}
.dot7d3dad {
  height: 40px;
  width: 40px;
  background-color: #7d3dad;
  border-radius: 50%;
  display: inline-block;
}
.dota9574c {
  height: 40px;
  width: 40px;
  background-color: #a9574c;
  border-radius: 50%;
  display: inline-block;
}
.dot4cbae6 {
  height: 40px;
  width: 40px;
  background-color: #4cbae6;
  border-radius: 50%;
  display: inline-block;
}
.dotdd4f58 {
  height: 40px;
  width: 40px;
  background-color: #dd4f58;
  border-radius: 50%;
  display: inline-block;
}
.dotd65d2d {
  height: 40px;
  width: 40px;
  background-color: #d65d2d;
  border-radius: 50%;
  display: inline-block;
}
.dotbd7e18 {
  height: 40px;
  width: 40px;
  background-color: #bd7e18;
  border-radius: 50%;
  display: inline-block;
}
.dot9af260 {
  height: 40px;
  width: 40px;
  background-color: #9af260;
  border-radius: 50%;
  display: inline-block;
}
.dot68ec07 {
  height: 40px;
  width: 40px;
  background-color: #68ec07;
  border-radius: 50%;
  display: inline-block;
}
.dot6c99f7 {
  height: 40px;
  width: 40px;
  background-color: #6c99f7;
  border-radius: 50%;
  display: inline-block;
}
.dot9d7de9 {
  height: 40px;
  width: 40px;
  background-color: #9d7de9;
  border-radius: 50%;
  display: inline-block;
}
.dotd7cdc5 {
  height: 40px;
  width: 40px;
  background-color: #d7cdc5;
  border-radius: 50%;
  display: inline-block;
}
.dotf94cd0 {
  height: 40px;
  width: 40px;
  background-color: #f94cd0;
  border-radius: 50%;
  display: inline-block;
}
.dot936735 {
  height: 40px;
  width: 40px;
  background-color: #936735;
  border-radius: 50%;
  display: inline-block;
}
.dotf7f7c0 {
  height: 40px;
  width: 40px;
  background-color: #f7f7c0;
  border-radius: 50%;
  display: inline-block;
}
.dot8eba5c {
  height: 40px;
  width: 40px;
  background-color: #8eba5c;
  border-radius: 50%;
  display: inline-block;
}
.dotff5d62 {
  height: 40px;
  width: 40px;
  background-color: #ff5d62;
  border-radius: 50%;
  display: inline-block;
}
.dotb93e95 {
  height: 40px;
  width: 40px;
  background-color: #b93e95;
  border-radius: 50%;
  display: inline-block;
}
.dot2c0f07 {
  height: 40px;
  width: 40px;
  background-color: #2c0f07;
  border-radius: 50%;
  display: inline-block;
}
.dot931c0e {
  height: 40px;
  width: 40px;
  background-color: #931c0e;
  border-radius: 50%;
  display: inline-block;
}
.dotc49506 {
  height: 40px;
  width: 40px;
  background-color: #c49506;
  border-radius: 50%;
  display: inline-block;
}
.dot {
  height: 40px;
  width: 40px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.dotc5be8b {
  height: 40px;
  width: 40px;
  background-color: #c5be8b;
  border-radius: 50%;
  display: inline-block;
}
.dotf24730 {
  height: 40px;
  width: 40px;
  background-color: #f24730;
  border-radius: 50%;
  display: inline-block;
}
.dote17e93 {
  height: 40px;
  width: 40px;
  background-color: #e17e93;
  border-radius: 50%;
  display: inline-block;
}
.dot0fdc7c {
  height: 40px;
  width: 40px;
  background-color: #0fdc7c;
  border-radius: 50%;
  display: inline-block;
}
.dotb938c5 {
  height: 40px;
  width: 40px;
  background-color: #b938c5;
  border-radius: 50%;
  display: inline-block;
}
.dot561d84 {
  height: 40px;
  width: 40px;
  background-color: #561d84;
  border-radius: 50%;
  display: inline-block;
}
.dotc20abb {
  height: 40px;
  width: 40px;
  background-color: #c20abb;
  border-radius: 50%;
  display: inline-block;
}
.dot5f9a44 {
  height: 40px;
  width: 40px;
  background-color: #5f9a44;
  border-radius: 50%;
  display: inline-block;
}
.dotdfbb2f {
  height: 40px;
  width: 40px;
  background-color: #dfbb2f;
  border-radius: 50%;
  display: inline-block;
}
.dot891751 {
  height: 40px;
  width: 40px;
  background-color: #891751;
  border-radius: 50%;
  display: inline-block;
}
.dotf77030 {
  height: 40px;
  width: 40px;
  background-color: #f77030;
  border-radius: 50%;
  display: inline-block;
}
.dot44689d {
  height: 40px;
  width: 40px;
  background-color: #44689d;
  border-radius: 50%;
  display: inline-block;
}
.dot9b20fd {
  height: 40px;
  width: 40px;
  background-color: #9b20fd;
  border-radius: 50%;
  display: inline-block;
}
.dot14d086 {
  height: 40px;
  width: 40px;
  background-color: #14d086;
  border-radius: 50%;
  display: inline-block;
}
.dot075679 {
  height: 40px;
  width: 40px;
  background-color: #075679;
  border-radius: 50%;
  display: inline-block;
}
.dot599346 {
  height: 40px;
  width: 40px;
  background-color: #599346;
  border-radius: 50%;
  display: inline-block;
}
.dotblack {
  height: 40px;
  width: 40px;
  background-color: #000000;
  border-radius: 50%;
  display: inline-block;
}
/*
.dot {
  height: 40px;
  width: 40px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
*/
/*
div {
    background-color: #00bfff;
    color: #ffffff;
}
*/
